{% extends 'base.html' %}


{% block main %}

    <article class="article article-type-page">
        <div class="article-inner">
            <header class="article-header">
                <p class="article-title">
                    ----------
                </p>
                <br>
                <h1 class="article-title">
                    ------------
                </h1>
                <hr>
                <p class="article-tag-list-item">ff----------</p>
                <br>
                <p class="article-tag-list-item">ff--------------</p>
                <br>
                <br>
            </header>
            <div class="article-entry">
                <article class="article-title">HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</article>
                <ul>


                    <li>----------------------------------</li>

                    <li>-------------------------------------------</li>


                </ul>
            </div>
            <div class="article-entry">
                <article class="article-title">-------------</article>


                <article class="article-header">
                    -------------------------------------
                </article>
                <ul>


                    <li>dsfsadfasfasfafsdfa</li>
                    <li>dsfsadfasfasfafsdfa</li>

                    <li>dsfsadfasfasfafsdfa</li>

                </ul>


            </div>

            <div class="article-entry">
                <article class="article-title">gg</article>
                <ul>


                    <li>=========================</li>


                    <li>===============================================</li>


                    <li>====================================================</li>


                </ul>
            </div>
            <div class="article-footer">
                ================================================
            </div>
        </div>
    </article>



{% endblock main %}






