{% extends 'base.html' %}


{% block main %}

    {% if arch_posts %}

        <div class="archives">
            {% for arch_post in arch_posts %}

                <article class="archive-article archive-type-post">
                    <div class="archive-article-inner">
                        <header class="archive-article-header">
                            <a href="#" class="archive-article-date">
                                <time>{{ arch_post.created.year }} {{ arch_post.created.month }}</time>
                            </a>

                            <h1 itemprop="name">
                                <a class="archive-article-title" target="_blank"
                                   href="/post/{{ arch_post.id }}">{{ arch_post.title }}</a>
                            </h1>
                        </header>
                    </div>
                </article>


            {% endfor %}

        </div>
    {% else %}
        <div class="archives">
            无记录
        </div>
    {% endif %}

{% endblock main %}
