<aside id="sidebar">
     <!--分类-->
  <div class="widget-wrap">
    <h3 class="widget-title">分类</h3>
    <div class="widget">
      <ul class="category-list">


            <li class="category-list-item">
              <a class="category-list-link" href="/category/3">数据库</a>
              <span class="category-list-count">7</span>
            </li>

            <li class="category-list-item">
              <a class="category-list-link" href="/category/1">前端</a>
              <span class="category-list-count">5</span>
            </li>

            <li class="category-list-item">
              <a class="category-list-link" href="/category/2">后端</a>
              <span class="category-list-count">2</span>
            </li>





      </ul>
      </div>
  </div>

     <!--归档-->
  <div class="widget-wrap">
    <h3 class="widget-title">归档</h3>
    <div class="widget">
      <ul class="archive-list">


                <li class="archive-list-item">
                    <a class="archive-list-link" href="/archive/2018/01"> 2018年01月 </a>
                      <span class="archive-list-count">13</span>
                </li>


                <li class="archive-list-item">
                    <a class="archive-list-link" href="/archive/2017/05"> 2017年05月 </a>
                      <span class="archive-list-count">1</span>
                </li>











      </ul>
    </div>
  </div>

  <div class="widget-wrap">
    <h3 class="widget-title">近期文章</h3>
    <div class="widget">
      <ul>


             <li>
                <a href="/post/14" target="_blank">SQLite3入门</a>
              </li>

             <li>
                <a href="/post/13" target="_blank">MySQL笔记</a>
              </li>

             <li>
                <a href="/post/12" target="_blank">T9</a>
              </li>








      </ul>
    </div>
  </div>
  <div class="widget-wrap">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget">
      <ul>
          <li>
            <a href="http://www.bjsxt.com/" target="_blank">尚学堂</a>
          </li>
          <li>
            <a href="http://www.sxt.cn/" target="_blank">速学堂</a>
          </li>
      </ul>
    </div>
  </div>
</aside>