<aside id="sidebar">
    <!--分类-->
    <div class="widget-wrap">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list">

                {% for cate_post in cate_posts %}
                    <li class="category-list-item">
                        <a class="category-list-link"
                           href="/category/{{ cate_post.category }}">{{ cate_post.category__cname }}</a>
                        <span class="category-list-count">{{ cate_post.count }}</span>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <!--归档-->
    <div class="widget-wrap">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list">
                {% for archive_post in archive_posts %}
                    <li class="archive-list-item">
                        <a class="archive-list-link" href="/archive/{{ archive_post.0|date:'Y' }}/{{ archive_post.0|date:'m' }}"> {{ archive_post.0|date:'Y年m月' }} </a>
                        <span class="archive-list-count">{{ archive_post.1 }}</span>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="widget-wrap">
        <h3 class="widget-title">近期文章</h3>
        <div class="widget">
            <ul>

                {% for recent_post in recent_posts %}
                    <li>
                        <a href="/post/{{ recent_post.id }}" target="_blank">{{ recent_post.title }}</a>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>
    <div class="widget-wrap">
        <h3 class="widget-title">友情链接</h3>
        <div class="widget">
            <ul>
                <li>
                    <a href="https://blog.csdn.net/" target="_blank">CSDN</a>
                </li>
                <li>
                    <a href="http://blog.sina.com.cn/" target="_blank">SINA</a>
                </li>
            </ul>
        </div>
    </div>
</aside>